<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Cash Tracker</a>
  </div>
</nav>
<h4 style="text-align:center">Saldo actual:</h4>
<h5 style="text-align:center">{{Saldo}}</h5>
<h4 style="text-align:center">Ingresa la cantidad y selecciona una transacción</h4>
<div class="Caja">
  <input type="number" #Cantidad>
</div>
<div class="Botones">
  <a (click)="dep(Cantidad)" class="waves-effect waves-light btn">Depositar</a>
  |
  <a (click)="ret(Cantidad)" class="waves-effect waves-light btn">Retirar</a>
</div>
<div class="Historial">
  <h4>Historial de transacciones</h4>
  <ul class="collection">
    <li class="collection-item" *ngFor="let transaccion of Transacciones">{{transaccion}}</li>
  </ul>
</div>